<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsgisai.geohazard.statistic.dao.pgsql.LandslideHazardDao">

    <resultMap id="landslideHazardResultMap" type="com.rsgisai.geohazard.statistic.entity.LandslideHazard">
        <id property="id" column="id"/>
        <result property="dateTime" column="datetime"/>
        <result property="name" column="name"/>
        <result property="L" column="L"/>
        <result property="H" column="H"/>
        <result property="V" column="V"/>
        <result property="rockSoilType" column="rock_soil_type"/>
        <association property="point" javaType="com.rsgisai.geohazard.statistic.entity.GeoPoint">
            <result property="latitude" column="latitude"/>
            <result property="longitude" column="longitude"/>
        </association>
    </resultMap>
    <select id="selectAll" resultMap="landslideHazardResultMap">
        SELECT id,
               datetime,
               name,
               ST_X(point) as latitude,
               ST_Y(point) as longitude,
               L,
               H,
               V,
               rock_soil_type
        FROM geohazard.public.landslide_hazard;
    </select>
</mapper>
