<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsgisai.geohazard.statistic.dao.mysql.LandslideDao" >
    <select id="list" resultType="com.rsgisai.geohazard.entity.Landslide">
        select id,
               volume,
               theta,
               height
        from geohazard.landslide;
    </select>
    <select id="selectById" resultType="com.rsgisai.geohazard.entity.Landslide">
        select id,
               volume,
               theta,
               height
        from geohazard.landslide
        where id = #{id}
    </select>
</mapper>
