<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sys.mapper.CarrierRiskAssessmentMapper">

    <select id="selectFloodAreaId" resultType="java.lang.Integer">
        select objectid as id from chain_floodarea where gridcode=1;
    </select>

    <select id="CreateMidResult">
        drop table if exists chain_sus_tempshp;
        create table chain_sus_tempshp as
        select st_area(st_intersection(floodgeom,carriergeom)) as area ,carriertype  from
        (select geom as carriergeom ,type1 as carriertype from chain_carrier) as carriershp ,(select geom as floodgeom from chain_floodarea where objectid =#{id}) as floodshp
        where st_intersects(floodgeom,carriergeom)=true;
    </select>


    <select id="MidResultArea" resultType="java.lang.Double">
        select area from chain_sus_tempshp;
    </select>


    <select id="MidResultType" resultType="java.lang.Integer">
        select carriertype from chain_sus_tempshp;
    </select>

    <insert id="CreateResultLayer">
        drop table  if exists FloodAreaLevel;
        CREATE  table FloodAreaLevel (id int,geom geometry,risklevel int);
    </insert>

    <insert id="InsertResultLayer">
        insert into floodarealevel (id ,geom,risklevel) values (#{id},(select  geom from chain_floodarea where objectid=#{id}),#{level});
    </insert>
</mapper>