<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sys.mapper.DongchuanlandslideMapper">



   <select id="selectBynumber" resultType="com.example.sys.entity.Dongchuanlandslide">
       select  volume,area,h1,h2 from public.dongchuanlandslide where 编码=#{number}
   </select>
    
    <select id="PrepareWork">
        drop table if exists Duhe;
        drop table if exists Duhe_mid;
        create temp table Duhe as select st_setsrid(rast,4507) as rast  from (select rast as rast from geohazard_chain_raster where name='chain_dongchuan_dem') as t;
        create temp table Duhe_mid as
        select st_reclass(rast,1,'[686-4282]:1','8BUI',0) as rast from Duhe;
        insert into geohazard_chain_Midrast(name ,rast) values ('Duhe_mid' ,(select rast from pg_temp.Duhe_mid));
    </select>
    
    <select id="LoopAssignment">
        drop table if exists ${table};
        create temp table ${table} as
        select st_setvalue(rast,1,geom,#{value}) as rast
        from (select rast as rast from geohazard_chain_Midrast where name=#{prevname}) as t,(select wkb_geometry as geom from potential_landslide where 编码=#{id}) as riskpoint;
        insert into geohazard_chain_Midrast(name ,rast) values (#{curname} ,(select rast from ${table}));
    </select>

    <insert id="InsertResult">
        insert into geohazard_chain_raster(rast,name) values ((select rast from geohazard_chain_Midrast where name=#{tablename}),'ResultOfBlockRiver');
    </insert>

    <delete id="DeleteResult">
        delete from geohazard_chain_raster where name='ResultOfBlockRiver';
    </delete>

    <select id="selectResultImage" resultType="com.example.sys.entity.ResultTif">
        select st_astiff(rast) as tif
        from geohazard_chain_Midrast
        where name=#{name};
    </select>

    <delete id="deleteLoop">
        delete from geohazard_chain_Midrast where name=#{name};
    </delete>


    <insert id="CreateResultLayerData">
        delete  from BlockRiverRiskPoint;
--         create table BlockRiverRiskPoint(id varchar(50),geom geometry,risklevel int2);
    </insert>


    <insert id="InsertResultGeom">
        insert into BlockRiverRiskPoint(id,geom,risklevel) values (#{id},(select wkb_geometry as geom from potential_landslide where 编码=#{id}),#{risklevel});
    </insert>
</mapper>
