<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sys.mapper.WaterVolumMapper">


    <select id="selectArea" resultType="com.example.sys.entity.WaterVolume">
        select st_area(geom::geography) as area
        from watervolume_shp;
    </select>

    <select id="selectNum" resultType="com.example.sys.entity.WaterVolume">
        select (st_summarystats(st_clip(rast,newgeom),1,exclude_nodata_value := true)).count as count
        from (select st_setsrid(rast ,4326) as rast from geohazard_chain_raster where name ='chain_dongchuan_dem') as dem,(select st_union(geom) as newgeom from watervolume_shp ) as newshp;
    </select>


    <select id="selectR2" resultType="java.math.BigDecimal">
        select (abs(st_scalex(rast)*st_scaley(rast)) * (st_summarystats(st_clip(rast,newgeom),1,exclude_nodata_value := true)).sum/1000000000.0) as r2
        from (select st_setsrid(rast ,4326) as rast from geohazard_chain_raster where name ='chain_dongchuan_dem') as dem,(select st_union(geom) as newgeom from watervolume_shp ) as newshp;
    </select>


    <select id="OutPut" >
--         delete from geohazard_chain_midrast where name ='watervolume';
--         delete  from  geohazard_chain_midrast where  name='watervolume_result';
--
--         drop table if exists  watervolum;
--         create temp table  watervolum as
--         select st_reclass(rast,1,'[686-4282]:1','8BUI',0) as rast
--         from (select st_setsrid(rast ,4326) as rast from geohazard_chain_raster where name ='chain_dongchuan_dem') as dem;
--         insert into geohazard_chain_midrast(name ,rast ) values  ('watervolume' ,(select rast from watervolum));
--
--
--         drop table if exists temp1;
--         create temp table  temp1 as
--         select st_setvalue(rast,geom,2) as rast
--         from watervolume_shp ,(select rast as rast
--                                from geohazard_chain_midrast where name ='watervolume') as temp;
--
--         insert into geohazard_chain_midrast(name ,rast ) values  ('watervolume_result' ,(select st_setsrid(rast,4490) as rast from  temp1));
--         select st_astiff(rast)  as tif from geohazard_chain_midrast where name ='watervolume_result';



delete from geohazard_chain_midrast where name ='watervolume';
delete  from  geohazard_chain_midrast where  name='watervolume_result';

drop table if exists  watervolum;
create temp table  watervolum as
select st_reclass(rast,1,'[686-4282]:1','8BUI',0) as rast
from watervolumn_dem_raster;
insert into geohazard_chain_midrast(name ,rast ) values  ('watervolume' ,(select rast from watervolum));
-- select st_valuecount(rast) from watervolum;

drop table if exists temp1;
create temp table  temp1 as
select st_setvalue(rast,geom,2) as rast
from watervolume_shp ,watervolum;
--         select (st_metadata(rast)).srid from temp1;
--         select st_valuecount(rast) from temp1;
insert into geohazard_chain_midrast(name ,rast ) values  ('watervolume_result' ,(select st_setsrid(rast,4507) as rast from  temp1));
    </select>

    <select id="getResult" resultType="com.example.sys.entity.ResultTif">
        select st_astiff(rast)  as tif from geohazard_chain_midrast where name ='watervolume_result';
    </select>


</mapper>