<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rsgisai.geohazard.data.dao.pgsql.ResultRasterDao">
    <resultMap id="ResultRasterMap" type="com.rsgisai.geohazard.system.common.ResultRaster">
        <result property="id" column="id"/>
        <result property="feature" column="feature"/>
        <result property="workingAreaId" column="working_area_id"/>
    </resultMap>
    <update id="updateLayerName">
        update public.result_raster
        set layer_name = #{layerName}
        where id = #{id};
    </update>


    <select id="selectAll" resultType="com.rsgisai.geohazard.system.common.ResultRaster">
       select id,feature ,working_area_id as workingAreaId
        <where>
            <if test="id !=null ">
                AND id = #{id}
            </if>
            <if test="workingAreaId != null ">
                AND working_are_id = #{workingAreaId}
            </if>
            <if test="feature != null and feature != '' ">
                AND feature = #{feature}
            </if>
        </where>
       from public.result_raster;
    </select>

    <select id="selectById" resultType="com.rsgisai.geohazard.system.common.ResultRaster">
        select id,
               working_area_id,
               feature,
               algorithm,
               algorithm_args,
               layer_name,
               create_by,
               modify_by,
               create_time,
               modify_time
        from public.result_raster
        where id = #{id};
    </select>
    <select id="fetchRasterTiff" resultType="com.rsgisai.geohazard.system.common.entity.RasterRecord">
        select id,
               ST_AsTIFF(rast) as tiff
        from public.result_raster
        where working_area_id = #{workingAreaId}
          and feature = #{feature}
          and algorithm_args = #{algorithmArgs}
        order by id desc
        limit 1;
    </select>
    <select id="selectByAlgorithm" resultType="com.rsgisai.geohazard.system.common.ResultRaster">
        select id,
               working_area_id,
               feature,
               algorithm,
               algorithm_args,
               create_by,
               modify_by,
               create_time,
               modify_time
        from public.result_raster
        where working_area_id = #{workingAreaId}
          and algorithm = #{algorithm}
          and algorithm_args = #{algorithmArgs}
        ;
    </select>
    <select id="fetchRasterTiffById" resultType="com.rsgisai.geohazard.system.common.entity.RasterRecord">
        select ST_AsTIFF(rast) as tiff
        from public.result_raster
        where id = #{id}
    </select>
    <select id="selectLatest" resultType="com.rsgisai.geohazard.system.common.ResultRaster">
        select id,
               working_area_id,
               feature,
               algorithm,
               algorithm_args,
               layer_name,
               create_by,
               modify_by,
               create_time,
               modify_time
        from public.result_raster
        where working_area_id = #{workingAreaId}
          and feature = #{feature}
        order by id desc
        limit 1;
    </select>

</mapper>