<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsgisai.geohazard.computation.geospatial.dao.pgsql.GeohazardComputationJobDao">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into public.geohazard_computation_job
            (dsl_id, name, status, current_line, deleted, create_by, modify_by)
        values (#{dslId}, #{name}, #{status}, #{currentLine}, false, #{createBy}, #{modifyBy})
    </insert>
    <update id="updateCurrentLine">
        update public.geohazard_computation_job
        set current_line = #{currentLine},
            status       = 'proceeding'
        where id = #{jobId};
    </update>
    <update id="updateSavedResult">
        update public.geohazard_computation_job
        set result_raster_id = #{savedRasterId},
            status           = 'complete'
        where id = #{jobId};
    </update>
    <select id="selectById" resultType="com.rsgisai.geohazard.system.common.GeohazardComputationJob">
        select *
        from public.geohazard_computation_job
        where id = #{id}
    </select>
</mapper>
