<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.rsgisai.geohazard.subsystem.dao.pgsql.InfluenceAreaDao">
    <sql id="commonSelect">
        select id, working_area_id, geom, target_region_id, area
        from influence_area
    </sql>

    <select id="select" resultType="com.rsgisai.geohazard.system.common.entity.InfluenceArea">
        <include refid="commonSelect"/>
        <where>
            <if test="id != null ">
                AND id = #{id}
            </if>
            <if test="workingAreaId != null ">
                AND working_area_id = #{workingAreaId}
            </if>
            <if test="area != null">
                AND area = #{area}
            </if>
        </where>
    </select>

    <!--resultType单条记录所封装的类型-->
    <select id="list" resultType="com.rsgisai.geohazard.system.common.entity.InfluenceArea">
        --         ctrl + alt + l 格式化
        <include refid="commonSelect"/>
        <where>
            <if test="workingAreaId != null">
                working_area_id = #{workingAreaId}
            </if>
            <if test="areaStart != null and areaEnd != null">
                and area between #{areaStart} and #{areaEnd}
            </if>
        </where>
        order by area asc
    </select>
</mapper>