<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsgisai.geohazard.level.dao.pgsql.DemDao">
    <select id="select" resultType="com.rsgisai.geohazard.system.common.entity.RasterRecord">
        select
        id,
        working_area_id
        from public.dem
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="workingAreaId != null">
                and working_area_id = #{workingAreaId}
            </if>
        </where>
    </select>
    <select id="getStats" resultType="com.rsgisai.geohazard.level.entity.RasterStats">
        select (ST_SummaryStats(rast)).* from public.dem
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="workingAreaId != null">
                and working_area_id = #{workingAreaId}
            </if>
        </where>;
    </select>
</mapper>
