<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsgisai.geohazard.level.dao.pgsql.EvaluationDao">
    <select id="select" resultType="com.rsgisai.geohazard.level.entity.EvaluationRasterRecord">
        select id,
        working_area_id,
        in_num_classes,
        out_num_classes,
        create_time,
        modify_time
        from susceptibility.evaluation
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="workingAreaId != null">
                and working_area_id = #{workingAreaId}
            </if>
            <if test="inNumClasses != null">
                and in_num_classes = #{inNumClasses}
            </if>
            <if test="outNumClasses != null">
                and out_num_classes = #{outNumClasses}
            </if>
        </where>
        ;
    </select>
</mapper>
