<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsgisai.geohazard.level.dao.pgsql.LandslidePotentialDao">
    <update id="updateActivity">
        update landslide_potential
        set activity_level = #{activityLevel}
        where no = #{no};
    </update>
    <update id="updateRiskLevel">
        update landslide_potential
        set risk_level = #{riskLevel}
        where no = #{no};
    </update>

    <select id="selectParam" resultType="java.util.Map">
        select 坡度,
               岩性    工程地质岩组,
               构造    到断裂的距离,
               形变bh  形变部位,
               最大速  形变最大速率,
               平均速  形变平均速率
        from landslide_potential
        where no = #{no}
        limit 1;
    </select>
    <select id="selectAll" resultType="com.rsgisai.geohazard.level.entity.LandslidePotential">
        select no,
               经度（e longitude,
               纬度（n latitude
        from landslide_potential;
    </select>
    <select id="selectByNo"
            resultType="com.rsgisai.geohazard.level.entity.LandslidePotential">
        select no,
               经度（e         longitude,
               纬度（n         latitude,
               hazard_level   hazardLevel,
               activity_level activityLevel
        from landslide_potential
        where no = #{no}
        ;
    </select>
</mapper>
