<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsgisai.geohazard.level.dao.pgsql.RasterDao">
    <insert id="uploadRaster">
-- todo

    </insert>
    <select id="fetchRaster" resultType="com.rsgisai.geohazard.system.common.entity.RasterRecord">
        select
        id,
        working_area_id as workingAreaId,
        ST_AsTIFF(rast) as rast
        from ${schema}.${table}
        <where>
            and working_area_id = #{workingAreaId}
            <if test="numberClasses != null">
                and number_classes = #{numberClasses}
            </if>
        </where>
    </select>
    <select id="fetchEvaluationRaster" resultType="com.rsgisai.geohazard.system.common.entity.RasterRecord">
        select
        id,
        working_area_id as workingAreaId,
        dem_number_classes as demNumberClasses,
        slope_number_classes as slopeNumberClasses,
        aspect_number_classes as aspectNumberClasses,
        curvature_number_classes as curvatureNumberClasses,
        out_number_classes as outNumberClasses,
        create_time as createTime,
        modify_time as modifyTime,
        ST_AsTIFF(rast) as rast
        from susceptibility.evaluation
        <where>
            <if test="workingAreaId != null">
                and working_area_id = #{workingAreaId}
            </if>
            <if test="demNumberClasses != null">
                and dem_number_classes = #{demNumberClasses}
            </if>
            <if test="slopeNumberClasses != null">
                and slope_number_classes = #{slopeNumberClasses}
            </if>
            <if test="aspectNumberClasses != null">
                and aspect_number_classes = #{aspectNumberClasses}
            </if>
            <if test="curvatureNumberClasses != null">
                and curvature_number_classes = #{curvatureNumberClasses}
            </if>
            <if test="outNumberClasses != null">
                and out_number_classes = #{outNumberClasses}
            </if>
        </where>
        ;
    </select>
    <select id="select" resultType="com.rsgisai.geohazard.system.common.entity.RasterRecord">
        select
        id,
        working_area_id as workingAreaId
        from ${schema}.${table}
        <where>
            and working_area_id = #{workingAreaId}
        </where>
    </select>
    <select id="selectNumClasses" resultType="com.rsgisai.geohazard.system.common.entity.RasterRecord">
        select
        id,
        working_area_id as workingAreaId,
        number_classes as numberClasses
        from ${schema}.${table}
        <where>
            and working_area_id = #{workingAreaId}
            <if test="numberClasses != null">
                and number_classes = #{numberClasses}
            </if>
        </where>
        order by #{numberClasses}
        ;
    </select>
    <select id="selectEvaluation" resultType="com.rsgisai.geohazard.system.common.entity.RasterRecord">
        select
        id,
        working_area_id as workingAreaId,
        in_num_classes as inNumClasses,
        out_num_classes as outNumClasses
        from ${schema}.${table}
        <where>
            and working_area_id = #{workingAreaId}
            <if test="inNumClasses != null">
                and in_num_classes = #{inNumClasses}
            </if>
            <if test="outNumClasses != null">
                and out_num_classes = #{outNumClasses}
            </if>
        </where>

    </select>
    <select id="fetchXxlAllRaster" resultType="com.rsgisai.geohazard.system.common.entity.RasterRecord">
        select
        id,
        working_area_id as workingAreaId,
        dem_number_classes as demNumberClasses,
        slope_number_classes as slopeNumberClasses,
        aspect_number_classes as aspectNumberClasses,
        curvature_number_classes as curvatureNumberClasses,
        create_time as createTime,
        modify_time as modifyTime,
        ST_AsTIFF(rast) as rast
        from susceptibility.information_amount_all
        <where>
            <if test="workingAreaId != null">
                and working_area_id = #{workingAreaId}
            </if>
            <if test="demNumberClasses != null">
                and dem_number_classes = #{demNumberClasses}
            </if>
            <if test="slopeNumberClasses != null">
                and slope_number_classes = #{slopeNumberClasses}
            </if>
            <if test="aspectNumberClasses != null">
                and aspect_number_classes = #{aspectNumberClasses}
            </if>
            <if test="curvatureNumberClasses != null">
                and curvature_number_classes = #{curvatureNumberClasses}
            </if>
        </where>
        ;
    </select>

    <select id="fetchOriginRaster" resultType="com.rsgisai.geohazard.system.common.entity.RasterRecord">
        select
        id,
        working_area_id as workingAreaId,
        ST_AsTIFF(rast) as rast
        from public.origin_raster
        where working_area_id = #{workingAreaId}
            and feature = #{feature}
    </select>
    <select id="fetchResultRaster" resultType="com.rsgisai.geohazard.system.common.entity.RasterRecord">
        select id,
               working_area_id as workingAreaId,
               ST_AsTIFF(rast) as rast
        from public.result_raster
        where working_area_id = #{workingAreaId}
          and feature = #{feature}
        -- 获取ID最大的一个，即最新的结果（结果可能有多个，不同参数得到的结果）
        order by id desc
        limit 1
    </select>
</mapper>
