<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsgisai.geohazard.level.dao.pgsql.XxlAlgorithmDao">
    <select id="getStats" resultType="com.rsgisai.geohazard.level.entity.RasterStats">
        select (ST_SummaryStats(rast)).*
        from susceptibility.information_amount_all
        where working_area_id = #{workingAreaId}
          and dem_number_classes = #{demNumberClasses}
          and slope_number_classes = #{slopeNumberClasses}
          and aspect_number_classes = #{aspectNumberClasses}
          and curvature_number_classes = #{curvatureNumberClasses}
        ;
    </select>
    <select id="select" resultType="com.rsgisai.geohazard.level.entity.XxlRasterRecord">
        select id,
        working_area_id as workingAreaId,
        dem_number_classes as demNumberClasses,
        slope_number_classes as slopeNumberClasses,
        aspect_number_classes as aspectNumberClasses,
        curvature_number_classes as curvatureNumberClasses,
        create_time as createTime,
        modify_time as modifyTime
        from susceptibility.information_amount_all
        <where>
            <if test="workingAreaId != null">
                and working_area_id = #{workingAreaId}
            </if>
            <if test="demNumberClasses != null">
                and dem_number_classes = #{demNumberClasses}
            </if>
            <if test="slopeNumberClasses != null">
                and slope_number_classes = #{slopeNumberClasses}
            </if>
            <if test="aspectNumberClasses != null">
                and aspect_number_classes = #{aspectNumberClasses}
            </if>
            <if test="curvatureNumberClasses != null">
                and curvature_number_classes = #{curvatureNumberClasses}
            </if>
        </where>
        ;
    </select>
</mapper>
